/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.spacer {
  padding-top: 4rem;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 4rem 0;
}

@media (max-width: 700px) {
  .hero {
    padding: 1rem 0;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  max-width: min(70rem, 100%);
}

.heroBefore,
.heroAfter {
  position: relative;
}

.heroSpaceContainer {
  height: 100%;
  display: flex;
}

.heroSpace {
  object-fit: cover;
}

.heroSpace img {
  height: intrinsic;
}

.heroBefore .heroSpace {
  object-position: right;
}

.heroAfter .heroSpace {
  object-position: left;
}

.heroPackage {
  height: 30%;
}

.heroPackage2 {
  height: 30%;
}

@media (max-width: 1200px) {
  .heroPackage {
    display: none;
  }
  .heroPackage2 {
    display: none;
  }
}

.heroBefore .heroPackage {
  position: absolute;
  transform: rotate(15deg);
  top: 15%;
  right: 3rem;
}

.heroBefore .heroPackage2 {
  position: absolute;
  transform: rotate(-15deg);
  top: 95%;
  right: 3rem;
}

.heroAfter .heroPackage {
  position: absolute;
  transform: rotate(-15deg);
  top: 40%;
  left: 3rem;
}

.heroImage {
  max-width: 90%;
}

.heroSubtitle {
  max-width: 100vw;
  padding-top: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

@media (max-width: 900px) {
  .heroSubtitle {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .heroSubtitle {
    font-size: 1.5rem;
  }
}

.commandContainer {
  padding: 1rem;
  width: 100%;
  max-width: 70rem;
}

.productLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 1rem 0;
}

/* Cards */
.cardContainer {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cardSide {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardLeading {
  align-items: flex-start;
}

.cardImage {
  position: relative;
}

.cardImage img {
  position: absolute;
  height: 60%;
  padding: 1rem;
  object-fit: contain;
}

.cardSpacer {
  flex: 1;
}

@media (max-width: 700px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: unset;
  }

  .card {
    flex: 1 0 100%;
    flex-direction: column;
  }

  .cardSide {
    flex: 0 1 auto;
    height: auto;
    align-items: stretch;
    text-align: center;
  }

  .cardImage {
    position: unset;
    align-items: center;
    order: -1;
  }

  .cardImage img {
    position: unset;
    max-height: 20vh;
  }
}
